<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./component/header') %>
    <h2>A propos :</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit temporibus quasi quod cum quaerat? Corrupti earum quis itaque blanditiis consequatur pariatur, natus, dicta cum voluptates quibusdam non ea, nam facere fugit. Tempore recusandae repellendus eum eius corrupti, facilis, magnam illo distinctio aperiam officiis maiores tempora ratione minima quaerat id molestiae?</p>
    <p>Veniam explicabo iste consectetur similique officiis culpa, maiores error ex labore non voluptatibus velit vitae cum voluptatum voluptatem ea ducimus totam! Architecto voluptas consectetur, voluptatum quae, in numquam similique sunt ratione quo ullam ducimus omnis a placeat culpa, praesentium repellendus. Dolore asperiores, obcaecati non cupiditate sapiente quam. Reprehenderit, aperiam quisquam!</p>
    <p>Quod ullam voluptas soluta iusto quia aliquam, similique accusamus a ut, tempora exercitationem! Eos nemo eligendi voluptate amet sequi reprehenderit eum aut deserunt, harum voluptatibus mollitia nihil, nulla quasi exercitationem. Pariatur natus illum reprehenderit doloremque sit laborum vitae blanditiis beatae cumque non aperiam quae nobis architecto assumenda ad, ipsa ratione?</p>
</body>
</html>